<% accounts.forEach(function (account) { %>
    <div>
        <% if (account.accountStatus === 'closed') { %>
            <div> Your account has been closed!</div>
        <% } else if (account.accountStatus === 'suspended') { %>
            <div> Your account has been temporarily suspended</div>
        <% } else { %>
            <div>
                Bank balance:
                <span class="<%= account.balance < 0 ? 'negative' : 'positive' %>"></span>
                    <%= account.formattedBalance %>
            </div>
        <% } %>
    </div>
<% }) %>