div.colors
    = 'Hello ' + name + '!'
    if colors && colors.length
        ul
            each color in colors
                li.color= color
    if !colors || !colors.length
        div No colors!